
.tour-inner {
  
    border-radius: 0;
  
position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    padding: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


/* NAVBAR */
.firstNav > li > ul {
    top: 100% !important;
}

.submenu > li {
transition: translate .5s ease;
}
 .submenu > li {
    color: #333;
}
.submenu > li:hover {
    translate:5px
}

.mobileView .responsiveNav li ,
.tabletView .responsiveNav li{
  color: var(--text-color);

}
.nav-scroll {
  
    background: white;
    
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    border: none;
  }
  .nav-scroll .burgerMenu > *{
    background-color: var(--color-primary);
  }
  .nav-scroll li {
    color:#0f2454;
  }
  .desktopView .submenu.noshow {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
  }
  .desktopView li:hover>.submenu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
.submenu{
  transition: opacity .5s ease, transform .5s ease;
}
.mobileView .noshow,.tabletView .noshow{
  display: block;
}
.mobileView .noshow,.tabletView .noshow{
  display: none;
}


/*********************/
section {
  margin: 90px 0;
}
.mobileView section, .tabletView section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

section .text {
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: rgb(103, 105, 119);
  margin-bottom: 20px;
}
section .text p{
  margin-bottom: 15px;
}

  .img::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 0px;
  left: 45px;
  bottom: 0px;
  z-index: -1;
  background-color: rgb(32, 149, 174);

} 
 /* .img{
  box-shadow: 35px 35px 0px -4px rgb(32, 149, 174);

 } */
 .img::after {
  content: "";
  width: 50%;
  position: absolute;
  top: -6%;
  bottom: 60%;
  left: -3%;
  background-image: url("./dots.png");
  background-repeat: repeat;
  z-index: -1;
}
 .about #circlePath{
  font-size: 10px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}


.category {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  writing-mode: vertical-rl;
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: mixed;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Barlow', sans-serif;
  padding: 12px 6px;
  line-height: 1.5em;
  text-transform: uppercase;
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 5%);
  background: #2095AE;
}

.fixedImg{
  padding: 120px  0;
  background-image: url('/slider/15.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
 .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.1);
  position: relative;
  display: inline-block;
  text-align: center;
}
 .icon svg {
  margin: auto;
  inset:0;
  font-size: 30px;
  padding: 20px;
  position: absolute;
  width: 85%;
  height: 85%;
 
  line-height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.section-title2 {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #2095AE;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.country .section-title2 {
  color: #0f2454;
}
section p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: #676977;
  margin-bottom: 20px;
}
.butn-dark a,.butn-dark button {
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  background: #2095AE;
  color: #fff;
  padding: 14px 25px;
  margin: 0;
  position: relative;
}

.butn-dark a:hover:after,.butn-dark button:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.butn-dark a:after,.butn-dark button:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: #1288a2;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ContactCell:last-child > .ss{
  border: 0px;
} 



/*////////////////////////////////////////////////**/



.tours3 .square-flip {
  min-height: 450px;
  margin-bottom: 30px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.tours3 .square-flip .square {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
}
.tours3 .square {
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tours3 .square, .tours3 .square2 {
  width: 100%;
  height: 100%;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.tours3 .square-flip .square2 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
}
.tours3 .square2.bg-white {
  background: #fff;
}
.tours3 .square2 {
  background: #f4f5f8;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tours3 .square, .tours3 .square2 {
  width: 100%;
  height: 100%;
}

.tours3 .square-container2 {
  padding: 30px;
  text-align: left;
  position: relative;
  top: 50%;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
}
.tours3 .square-flip:hover .square {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.tours3 .square-flip .square {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
}
.tours3 .square2 {
  background: #f4f5f8;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tours3 .square-flip:hover .square-container2 {
  -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}
.tours3 .square-container2 {
  padding: 30px;
  text-align: left;
  position: relative;
  top: 50%;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
}

.tours3 .square-flip:hover .square2 {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tours3 .square-container {
  padding: 40px;
  text-align: right;
  height: 450px;
  position: relative;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  -webkit-transform: translateX(0px) scale(1);
  -ms-transform: translateX(0px) scale(1);
  transform: translateX(0px) scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
}
.tours3 .square-flip:hover .square-container {
  -webkit-transform: translateX(-650px) scale(0.88);
  -ms-transform: translateX(-650px) scale(0.88);
  transform: translateX(-650px) scale(0.88);
}

/********* FRONT HEADERS*****/
.tours3 .square h4 {
  color: #fff;
  font-size: 27px;
  text-align: left;
  margin-bottom: 10px;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}
.tours3 .square h6, .tours3 .square h6 a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 0px;
  line-height: 1.2em;
    margin: 0 0 20px 0;
}
.tours3 .square2 h4 {
  font-size: 27px;
  color: #0f2454;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}
.tours3 .square2 h6 {
  position: relative;
  color: #2095AE;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
}
/*****************************/


.imageContainerTours:hover img{
  filter: brightness(.7);

}

.imageContainerTours:hover .body{
  bottom: 0;
  background-color: linear-gradient(to bottom,transparent 0,rgba(15,36,84,0.01) 2%,rgba(15,36,84,0.75) 90%);
  
}
.imageContainerTours:hover .body > div{
width: 100%;  
}


.travelExp:hover img{
  filter: brightness(.7);

}

.travelExp:hover .body{
  bottom: 5.5rem !important;
}
.mobileView .videoPromoTitle  ,
.tabletVie .videoPromoTitle{
  width: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.mobileView .videoPromoTitle h1  ,
.tabletVie .videoPromoTitle h1{
 font-size: 32px;
 text-align: center;
 text-transform: none;
}
.mobileView .videoPromoTitle h4  ,
.tabletVie .videoPromoTitle h4{
 font-size: 15px;
  text-transform: none;
  font-weight: 200 !important;
  letter-spacing: normal;

 

}